.total {
    width: 350px;
    margin: 0 auto;
    font-weight: 600;
    font-size: 18px;
    line-height: 20px;
}

.round_btn {
    width: 100%;
    height: 56px;
    border-radius: 16px;
    display: flex;
    justify-content: center; /* 수평 가운데 정렬 */
    align-items: center; /* 수직 가운데 정렬 */
}

.gray_btn_color{
    width: 100%;
    height: 56px;
    border-radius: 16px;
    display: flex;
    justify-content: center; /* 수평 가운데 정렬 */
    align-items: center; /* 수직 가운데 정렬 */
    background-color: #ECEEEF;
}

.yellow_btn_color{
    width: 100%;
    height: 56px;
    border-radius: 16px;
    display: flex;
    justify-content: center; /* 수평 가운데 정렬 */
    align-items: center; /* 수직 가운데 정렬 */

    background-color: #F8BE00;
}