.header {
    display: flex;
    margin-top: 44px;
    align-items: center;
    justify-content: flex-end;
    height: 56px;
}

.findicon {
    margin-right: 16px;
}

.guide_box {
    display: flex;
    width: 350px;
    padding: 16px 0px;
    margin-top: 18px;
    align-items: center;
    gap: 8px;
    border-radius: 16px;
    background: #FEF2E0;
    cursor: pointer;
}

.guide_icon {
    margin-left: 20px;
}

.guide {
    display: flex;
    align-items: center;
}

.guide_text {
    margin-left: 10px;
    margin-right: 8px;
    color: #655D4F;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px;
}

.condition_boxes {
    overflow: hidden;
    margin-top: 33px;
    display: flex;
    cursor: pointer;
}

.dorm_exp {
    margin-top: 20px;
    display: flex;
    align-items: center;
}

.dorm_text {
    color: #5C5F5F;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 18px;
    margin-left: 6px;
}




