.screen {
    width: 390px;
    height: 100vh;
    border: 1px solid #ECEEEF;
    margin: 0 auto;

}

.sub_screen{
    overflow-y: auto;
    overflow-x: hidden;
    height: calc(100vh - 98px);

}

.screen_content{
    padding: 0px 20px;
}