.screen {
    width: 390px;
    overflow: auto;
    /*max-height: calc(100vh - 98px);*/
    margin: 0 auto;
    height: 100vh;
    border: 1px solid #ECEEEF;
}

.screen_content{
    padding: 0px 20px;
}