.save{
    margin-top: 44px;
    color: #2E3132;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 32px;
    padding: 12px 0px;
}

.save_header{
    display: flex;
}

.me_save_txt{
    color: #2E3132;
    text-align: center;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px;
    margin-bottom: 15.57px;
}

.me_underline{
    width: 175px;
    height: 2px;
    background: #2E3132;
}

.save_me{
    width: 195px;
}

.save_me_txt{
    color: #A9ACAC;
    text-align: center;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px;
}

.save_major{
    display: flex;
    margin-top: 16px;
}

.same_major{
    padding: 8px 16px;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    background: #FFD574;
    color: #2E3132;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px;
    margin-right: 12px;
}

.other_major{
    display: flex;
    padding: 8px 16px;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    border: 1px solid #E1E3E3;
}

.save_min_header{
    display: flex;
    justify-content: space-between;
    color: #444748;
    font-size: 14px;
    font-weight: 500;
    line-height: 18px;
    margin-top: 32px;
    cursor: pointer;
}
