.condition-sub-box{
    position: relative;
    padding: 8px 16px;
    border-radius: 20px;
    border: 1px solid #E1E3E3;
    background: #FFF;
    width: max-content;
    margin-top: 8px;
    margin-right: 8px;
}

.condition-sub-box:last-child{
    margin-bottom: 8px;
}
  
.circle-container {
    position: absolute;
    top: -13px;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
}
  
.circle_photo{
    width: 18px;
    height: 18px;
}
  