.total_circle{
    display: flex;
}
.circle, .circle_gray{
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background-color: #F8BF00;
    font-weight: 700;
    font-size: 14px;
    line-height: 26px;
    text-align: center;
    margin-right: 8px;
}
.circle_gray{
    background-color: #ECEEEF;
    color: #8E9192;
}
.circle_check{
    width: 16px;
    height: 16px;
    color: #8E9192;
    padding: 4px;
}
.title_text{
    white-space: pre-line;
    font-weight: bold;
    font-size: 24px;
    margin-top: 28px;
    line-height: 32px;
}