.email_send{
    display: flex;
    margin-top: 28px;
}
.email_send_txt{
    font-size: 16px;
    font-weight: 600;
    color: #5C5F5F;
    margin-right: 8px;
    line-height: 20px;
}
.email_resend{
    background-color: #ECEEEF;
    border-radius: 8px;
    border: none;
    width: 116px;
    height: 26px;
    font-size: 14px;
    gap: 8px;
    align-items: center;
}
.input_code{
    display: flex;
    margin-top: 52px;
}
.code{
    border: none;
    outline: none;
    width: 72px;
    height: 48px;
    padding: 7px 0px 8px 0px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    border-bottom: 2px solid #E1E3E3;
    margin-right: 20px;
    font-style: normal;
    text-align: center;
    font-size: 48px;
    font-weight: 700;
    line-height: 32px; /* 66.667% */
}
.code:nth-last-child(1){
    margin-right: 0px;
}
.code::-webkit-inner-spin-button {
    -webkit-appearance: none;
}