.main {
    width: 390px;
    height: 844px;
    margin: 0 auto;
    padding-left: 20px;
}
.email_text{
    font-weight: bold;
    font-size: 24px;
    margin-top: 28px;
    line-height: 32px;
}
.content{
    font-weight: 600;
    font-size: 18px;
    line-height: 20px;
    margin: 0 auto;
}
.input_infos{
    display: flex;
    margin-top: 60px;
    padding: 7px 0px 8px 0px;
    border-bottom: 2px solid #C4C7C7;
    color: #C4C7C7;
    font-size: 24px;
    font-weight: 600;
    width: 350px;
}
.input_info{
    font-weight: 600;
    width: 134px;
    border: none;
    outline: none;
    font-size: 24px;
}
.univ{
    width: 100%;
    text-align: right;
}
.input_email::-webkit-inner-spin-button {
    -webkit-appearance: none;
}