.screen {
    width: 390px;
    height: 100vh;
    border: 1px solid #ECEEEF;
    margin: 0 auto;

}

.sub_screen{
    overflow-y: auto;
    overflow-x: hidden;
    height: calc(100vh - 98px);
}

.sub_screen::-webkit-scrollbar {
    width: 10px; 
}


.sub_screen::-webkit-scrollbar-thumb {
    background: #C1C1C1; /* 스크롤바의 색상 */
    
    border-radius: 10px;
}
.sub_screen::-webkit-scrollbar-track {
    background: #fff;
}

.screen_content{
    padding: 0px 20px;
}

.private_bottom{
    width: 390px;
    height: 98px;
    position: fixed;
    bottom: 0;
}